.my-6.md:m-8.bg-white.md:rounded-lg.border-l-0.border-r-0.border.md:border-r.md:border-l.border-gray-200.border-b-0.shadow-sm
  %table.table-fixed.w-full
    %thead
      %tr.border-b.text-left
        %th.font-semibold.text-sm.p-4= Spina::Admin::Conferences::Delegate.human_attribute_name :name
        %th.font-semibold.text-sm.p-4= Spina::Admin::Conferences::Delegate.human_attribute_name :email_address
        %th.font-semibold.text-sm.p-4= Spina::Admin::Conferences::Delegate.human_attribute_name :institution
        %th

    %tbody= render delegates.presence || 'empty_list', message: t('.no_delegates')
