%tr.border-b{ data: { dietary_requirement_id: dietary_requirement.id } }
  %td= link_to dietary_requirement.name, edit_admin_conferences_dietary_requirement_path(dietary_requirement), class: 'block text-spina font-medium text-sm p-4 hover:text-spina-dark'
  %td
    = link_to edit_admin_conferences_dietary_requirement_path(dietary_requirement), class: 'btn btn-default mx-4 w-max' do
      .flex.flex-nowrap.items-center.px-8.py-1
        = heroicon 'pencil-alt', style: :outline, class: 'w-4 h-4'
        .ml-2= t 'spina.edit'
